#!/usr/bin/make -f

# $Id$

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

package=squeezecenter-readynas
base=$(CURDIR)/readynas/$(package)
share=usr/share/squeezecenter/
source=$(CURDIR)/../server

varlib=var/lib/squeezecenter

clean:
	dh_testdir
	dh_testroot
	rm -rf ${base}

install:
	dh_testdir
	dh_testroot
	dh_installdirs

	# Create directories needed.
	install -d -m0755 ${base}/etc/default/
	install -d -m0755 ${base}/etc/init.d/
	install -d -m0755 ${base}/etc/squeezecenter/
	install -d -m0755 ${base}/usr/share/perl5/
	install -d -m0755 ${base}/${share}
	install -d -m0755 ${base}/usr/share/doc/squeezecenter/
	install -d -m0755 ${base}/${varlib}/prefs
	install -d -m0755 ${base}/${varlib}/cache

	# We need to disable the changeEffectiveUserAndGroup call to run on the readynas
	cp -r $(CURDIR)/readynas/MySQLHelper.pm ${source}/Slim/Utils

	# We also add in some sparc-specific modules
	cp -r $(CURDIR)/readynas/CPAN ${source}/

	# Finally, we disable a specific call to the changeEffectiveUserAndGroup in the startup script
	cat ${source}/slimserver.pl | sed -e 's/changeEffectiveUserAndGroup();/#changeEffectiveUserAndGroup();/g' > ${source}/slimserver-modified.pl

	# Copy our server files to the appropriate Debian locations.
	install -m0755 ${source}/slimserver-modified.pl ${base}/usr/sbin/squeezecenter-server
	install -m0755 ${source}/scanner.pl ${base}/usr/sbin/squeezecenter-scanner

	# We need to copy the Slim directory over...
	cp -r ${source}/Slim ${base}/usr/share/perl5

	# Copy our CPAN directory and locally modified perl modules
	cp -r ${source}/CPAN ${base}/${share}
	cp -r ${source}/lib ${base}/${share}
	
	# Remove non-Linux binary modules
	rm -rf ${base}/${share}/CPAN/arch/5.8/darwin-thread-multi-2level
	rm -rf ${base}/${share}/CPAN/arch/5.8/MSWin32-x86-multi-thread
	rm -rf ${source}/Bin/darwin
	rm -rf ${source}/Bin/MSWin32-x86-multi-thread
	rm -rf ${source}/Bin/powerpc-hardhat-linux


	# And aux files needed to run SqueezeCenter
	cp -r ${source}/Firmware ${base}/${share}
	cp -r ${source}/Graphics ${base}/${share}
	cp -r ${source}/HTML ${base}/${share}
	cp -r ${source}/IR ${base}/${share}
	cp -r ${source}/SQL ${base}/${share}
	cp -r ${source}/strings.txt ${base}/${share}
	cp -r ${source}/MySQL ${base}/${share}

	# Make sure we copy in the Bin directory
	cp -r ${source}/Bin ${base}/${share}

	# We put the Plugins into /var/lib/ because they are modifiable, 
	# and shouldn't be put into /usr. 
	cp -r ${source}/Plugins ${base}/${varlib}
	ln -s /${varlib}/Plugins ${base}/${share}/Plugins

	# Remove errmsg.sys files from the MySQL dir, since they may not match
	# up with the installed version's
	rm ${base}/${share}/MySQL/errmsg.*

	# Set up the pref's file locations...
	cp -r ${source}/*.conf ${base}/etc/squeezecenter

	## Overwrite some default settings with ReadyNas specific settings
	cp -r ${CURDIR}/readynas/convert.conf ${base}/etc/squeezecenter
	cp -r ${CURDIR}/readynas/server.prefs ${base}/${varlib}/prefs/

	# Copy over the squeezecenter init script...
	cp -r $(CURDIR)/readynas/squeezecenter.default ${base}/etc/default/squeezecenter
	cp -r $(CURDIR)/readynas/squeezecenter.init ${base}/etc/init.d/squeezecenter

	# Wrapper to keep SqueezeCenter alive.
	cp -r $(CURDIR)/readynas/squeezecenter_safe ${base}/usr/sbin/squeezecenter_safe

	# Documentation
	cp ${source}/Change* ${base}/usr/share/doc/squeezecenter/
	cp ${source}/Installation.txt ${base}/usr/share/doc/squeezecenter/
	cp ${source}/License.txt $(CURDIR)/readynas/copyright

	# Copy the revision file
	cp ${source}/revision.txt ${base}/${share}


binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_install
	dh_installlogrotate
	dh_installinit
	dh_installman
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep
.PHONY: build clean binary-indep binary install configure
