<?define version="125.0.0"?>
<?define UpgradeCode = "862E6090-F6B6-11DD-87AF-0800200C9A66" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product
		Name="SqueezePanel 7.3.3 $(var.version)"
		Id="*"
		UpgradeCode="$(var.UpgradeCode)"
		Manufacturer="Michael Herger - Logitech SA"
		Version="$(var.version)"
		Language="1033">

		<Package
			Manufacturer="Logitech"
			InstallerVersion="200"
			Languages="1033"
			Compressed="yes" />

		<Media Id="1" Cabinet="SqueezePanel.cab" EmbedCab="yes" />
		
		<Property Id="WHSLogo">1</Property>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="WHS" Name="Windows Home Server">

					<Component
						Id="HomeServerConsoleTab.SqueezePanel"
						Guid="7f25fe10-f77a-11dd-87af-0800200c9a66">

						<File
							Id="HomeServerConsoleTab.SqueezeCenter.dll"
							Name="HomeServerConsoleTab.SqueezeCenter.dll"
							Source="bin\Release\HomeServerConsoleTab.SqueezeCenter.dll"
							Vital="yes"
							KeyPath="yes"
							DiskId="1"/>
					</Component>

				</Directory>
			</Directory>
		</Directory>

		<Feature Id="ProductFeature" Title="SqueezePanel" Level="1">
			<ComponentRef Id="HomeServerConsoleTab.SqueezePanel" />
		</Feature>

		<Property Id="OLDERVERSIONBEINGUPGRADED" Secure="yes" />
		<Property Id="NEWERVERSIONDETECTED" Secure="yes" />
		
		<Upgrade Id="$(var.UpgradeCode)">
			<UpgradeVersion Minimum="$(var.version)" 
							IncludeMinimum="no" 
							OnlyDetect="yes" 
							Property="NEWERVERSIONDETECTED" />
			<UpgradeVersion Minimum="0.0.0" 
							Maximum="$(var.version)"
							IncludeMinimum="yes"
							IncludeMaximum="no"
							Property="OLDERVERSIONBEINGUPGRADED" />
		</Upgrade>

		<InstallExecuteSequence>
			<RemoveExistingProducts After="InstallValidate" />
		</InstallExecuteSequence>
	</Product>

</Wix>