Source: squeezeboxserver
Section: sound
Priority: optional
Maintainer: Logitech/Slim Devices <debian@slimdevices.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: squeezeboxserver
Architecture: all
Conflicts: slimp3,slimserver,squeezecenter
Replaces: slimp3,slimserver,squeezecenter
Depends: perl (>= 5.8.1),
 mysql-server-4.1 | mysql-server-5.0, libmysqlclient14-dev | libmysqlclient15-dev,
 mysql-client-4.1 | mysql-client-5.0, adduser, libfreetype6
Description: Streaming Audio Server
 SqueezeBox Server is a cross-platform streaming server that supports a wide range
 of formats, including AAC, AIFF, FLAC, Ogg Vorbis, MP3, WAV, and WMA.
 .
