Source: logitechmediaserver
Section: sound
Priority: optional
Maintainer: Logitech/Slim Devices <debian@slimdevices.com>
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.5)
Standards-Version: 3.9.5

Package: logitechmediaserver
Architecture: all
Conflicts: slimp3,slimserver,squeezecenter,squeezeboxserver
Replaces: slimp3,slimserver,squeezecenter,squeezeboxserver
Depends: ${misc:Depends}, perl (>= 5.10.0), adduser, libc6, libgcc1, libstdc++6, zlib1g, libio-socket-ssl-perl, ca-certificates, libcrypt-openssl-rsa-perl
Pre-Depends: ${misc:Pre-Depends}
Description: Streaming Audio Server
 Logitech Media Server is a cross-platform streaming media server that supports a wide range
 of formats, including AAC, AIFF, FLAC, Ogg Vorbis, MP3, WAV, and WMA.
