#!/usr/bin/make -f

# $Id$

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

package=logitechmediaserver
base=$(CURDIR)/debian/$(package)
share=usr/share/squeezeboxserver/
source=$(CURDIR)/../server

varlib=var/lib/squeezeboxserver


clean:
	dh_testdir
	dh_testroot
	rm -rf ${base}

install:
	dh_testdir
	dh_testroot
	dh_installdirs

	# Create directories needed.
	install -d -m0755 ${base}/etc/default/
	install -d -m0755 ${base}/etc/squeezeboxserver/
	install -d -m0755 ${base}/etc/init.d/
	install -d -m0755 ${base}/usr/share/perl5/
	install -d -m0755 ${base}/${share}
	install -d -m0755 ${base}/usr/share/lintian/overrides/
	install -d -m0755 ${base}/usr/share/doc/squeezeboxserver/
	install -d -m0755 ${base}/${varlib}/prefs
	install -d -m0755 ${base}/${varlib}/cache

	# Copy our server files to the appropriate Debian locations.
	install -m0755 ${source}/slimserver.pl ${base}/usr/sbin/squeezeboxserver
	install -m0755 ${source}/scanner.pl ${base}/usr/sbin/squeezeboxserver-scanner
	install -m0755 ${source}/cleanup.pl ${base}/usr/sbin/squeezeboxserver-cleanup

	cp -r ${source}/Slim ${base}/usr/share/perl5/
	
	# Copy our CPAN directory and locally modified perl modules
	cp -r ${source}/CPAN ${base}/${share}
	cp -r ${source}/lib ${base}/${share}

	# Make sure we copy in the Bin directory
	cp -r ${source}/Bin ${base}/${share}

	# Remove non-Linux binary modules and binaries
	rm -rf ${base}/${share}/CPAN/arch/*/darwin-thread-multi-2level
	rm -rf ${base}/${share}/CPAN/arch/*/i386-freebsd-64int
	rm -rf ${base}/${share}/CPAN/arch/*/sparc-linux
	rm -rf ${base}/${share}/CPAN/arch/*/MSWin32-x86-multi-thread
	rm -rf ${base}/${share}/Bin/darwin
	rm -rf ${base}/${share}/Bin/MSWin32-x86-multi-thread
	rm -rf ${base}/${share}/Bin/i386-freebsd-64int
	rm -rf ${base}/usr/share/perl5/Slim/Plugin/PreventStandby
	

	# And aux files needed to run SlimServer
	cp -r ${source}/Firmware ${base}/${share}
	cp -r ${source}/Graphics ${base}/${share}
	cp -r ${source}/HTML ${base}/${share}
	cp -r ${source}/IR ${base}/${share}
	cp -r ${source}/SQL ${base}/${share}
	cp -r ${source}/strings.txt ${base}/${share}
	cp -r ${source}/MySQL ${base}/${share}
	cp -r ${source}/icudt46*.dat ${base}/${share}


	# We put the Plugins into /var/lib/ because they are modifiable, 
	# and shouldn't be put into /usr. 
	cp -r ${source}/Plugins ${base}/${varlib} || mkdir ${base}/${varlib}/Plugins
	ln -s /${varlib}/Plugins ${base}/${share}/Plugins

	# Remove errmsg.sys files from the MySQL dir, since they may not match
	# up with the installed version's
	rm ${base}/${share}/MySQL/errmsg.*

	# Set up the pref's file locations...
	cp -r ${source}/*.conf ${base}/etc/squeezeboxserver

	# Wrapper to keep the server alive.
	cp -r $(CURDIR)/debian/squeezeboxserver_safe ${base}/usr/sbin/squeezeboxserver_safe

	# Documentation
	cp ${source}/Change* ${base}/usr/share/doc/squeezeboxserver/
	cp ${source}/Installation.txt ${base}/usr/share/doc/squeezeboxserver/
	cp ${source}/License.txt $(CURDIR)/debian/copyright

	# Copy the revision file
	cp ${source}/revision.txt ${base}/${share}

	# lintian overrides file
	cp $(CURDIR)/debian/lintian.overrides ${base}/usr/share/lintian/overrides/$(package)

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_install
	dh_installlogrotate
	dh_installinit
	dh_installman
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep
.PHONY: build clean binary-indep binary install configure
