Source: squeezeboxserver
Section: sound
Priority: optional
Maintainer: Logitech/Slim Devices <debian@slimdevices.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: squeezeboxserver
Architecture: _ARCHTYPE_
Conflicts: slimp3,slimserver,squeezecenter,squeezecenter-readynas
Replaces: slimp3,slimserver,squeezecenter,squeezecenter-readynas
Depends: perl (>= 5.8.1),
 flac, sox, adduser, libmad0, libvorbis0a, libvorbisenc2, libvorbisfile3
Description: Streaming Audio Server
 Logitech Media Server is a cross-platform streaming server that supports a wide range
 of formats, including AAC, AIFF, FLAC, Ogg Vorbis, MP3, WAV, and WMA.
 .
