<?define version='7.8.1.!!revision!!' ?>
<?define UpgradeCode = "1DB91230-EBBC-11DD-BA2F-0800200C9A66" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product
		Name="Logitech Media Server 7.8.1-!!revision!! for Windows Home Server"
		Id="*"
		UpgradeCode="$(var.UpgradeCode)"
		Manufacturer="Logitech"
		Version="$(var.version)"
		Language="1033">

		<Package
			Manufacturer="Logitech"
			InstallerVersion="200"
			Languages="1033"
			Compressed="yes" />

		<Media Id="1" Cabinet="SqueezeboxServer.cab" EmbedCab="yes" />

		<Property Id="WHSLogo">1</Property>

		<Condition Message="[ProductName] requires Windows Home Server. For more information, please refer to the User Guide.">VersionNT = 502</Condition>
		<Condition Message="Another version of Logitech Media Server is already installed. Please uninstall before updating.">NOT OTHERVERSIONDETECTED</Condition>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="APPPATH" Name=".">
				<Component Id="SqueezeboxServer" Guid="{1DB91230-EBBC-11DD-BA2F-0800200C9A66}">
					<ServiceControl Id="SqueezeSvc" Name="squeezesvc" Start="install" />

					<RemoveRegistryKey Action="removeOnUninstall"
						Root='HKLM'
						Key="SOFTWARE\Microsoft\Windows Home Server\RegisteredAdditions\[ProductCode]" />
				</Component>
			</Directory>

			<Directory Id="ProgramFilesFolder">
				<Directory Id="WHS" Name="Windows Home Server">
					<Component
						Id="HomeServerConsoleTab.SqueezePanel"
						Guid="7f25fe10-f77a-11dd-87af-0800200c9a66">
					
						<File
							Id="HomeServerConsoleTab.SqueezeCenter.dll"
							Name="HomeServerConsoleTab.SqueezeCenter.dll"
							Source="HomeServerConsoleTab.SqueezeCenter.dll"
							Vital="yes"
							KeyPath="yes"
							DiskId="1"/>
					</Component>
					
					<Component
						Id="Jayrock.Json"
						Guid="c430a0d0-3584-11de-b418-0800200c9a66">
					
						<File
							Id="Jayrock.Json.dll"
							Name="Jayrock.Json.dll"
							Source="Jayrock.Json.dll"
							Vital="yes"
							KeyPath="yes"
							DiskId="1"/>
					</Component>
				</Directory>
			</Directory>
		</Directory>

		<Property Id="APPPATH">
			<RegistrySearch
				Id="Path" 
				Root="HKLM"
				Key="SOFTWARE\Logitech\Squeezebox"
				Name="Path"
				Type="raw"
			/>
		</Property>

		<Property Id="UNINSTALLCOMMAND">
			<RegistrySearch
				Id="QuietUninstallString" 
				Root="HKLM"
				Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\Logitech Media Server_is1"
				Name="QuietUninstallString"
				Type="raw"
			/>
		</Property>

		<Binary Id="SCInstallerFile" SourceFile="SqueezeSetup.exe" />
		
		<Feature Id="SCInstaller" Title="Logitech Media Server Installer" Level="1" AllowAdvertise="no" Display="hidden">
			<ComponentRef Id="SqueezeboxServer" />
		</Feature>
		
		<Feature Id="ProductFeature" Title="SqueezePanel" Level="1" AllowAdvertise="no">
			<ComponentRef Id="HomeServerConsoleTab.SqueezePanel" />
			<ComponentRef Id="Jayrock.Json" />
		</Feature>
		
		<CustomAction Id="InstallSC" BinaryKey="SCInstallerFile" ExeCommand="/Log /silent /noTrayIcon /installService" Impersonate="no" Return="check" Execute="deferred" />

		<CustomAction Id="UnInstallSC" Directory="APPPATH" ExeCommand="[UNINSTALLCOMMAND] /SUPPRESSMSGBOXES" Impersonate="no" Return="ignore" Execute="deferred" />
		
		<Upgrade Id="$(var.UpgradeCode)">
			<UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes"
							OnlyDetect="yes"
							Property="OTHERVERSIONDETECTED" />
		</Upgrade>

		<InstallExecuteSequence>
			<FindRelatedProducts Before="LaunchConditions" />
			<RemoveExistingProducts After="InstallValidate" />

			<Custom Action="InstallSC" After="InstallInitialize">
				NOT REMOVE="ALL"
			</Custom>

			<Custom Action="UnInstallSC" Before="InstallFinalize">
				REMOVE="ALL"
			</Custom>
		</InstallExecuteSequence>

		<InstallUISequence>
			<FindRelatedProducts Before="LaunchConditions" />
		</InstallUISequence>
	</Product>

</Wix>