<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>UEMusicLibrary</string>
	<key>CFBundleGetInfoString</key>
	<string>UE Music Library 10.0.4, Copyright 2002-2012 Logitech</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.logitech.ueml</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>10.0.4</string>
	<key>CFBundleName</key>
	<string>UE Smart Radio</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.0.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>10.0.4</string>
	<key>NSMainNibFile</key>
	<string>Pref</string>
	<key>NSPrefPaneIconFile</key>
	<string>icon.icns</string>
	<key>NSPrincipalClass</key>
	<string>ServerPref</string>
</dict>
</plist>
