# addon.config
#
# This is an example of an add-on config file so you can avoid answering the questions each time
# you recreate an add-on.  Replace all the sample fields with your add-on specific info and run:
#
#       bin/create_addon addon.config
#
# Alternatively, copy addon.config to something like MYADDON.config and run:
#
#       bin/create_addon MYADDON.config

# Enter the name of the add-on
FRIENDLY_NAME="Cool Addon"

# Enter a description of the add-on.  Make sure to escape single and double-quotes with a backslash.
DESCRIPTION="This is the coolest add-on ever for the ReadyNAS."

# Enter the version of the add-on in the form of 1.2.3 (major.minor.patch) with an optional "-T1" to signify test release.
VERSION="0.0.1"

# Enter the download path of the add-on.  The filename should not contain the version number and the recommended naming
# is using the add-on's tag name -- all caps with no spaces.  Filename should end with a .bin.
DOWNLOAD_URL="http://www.cooldude.com/download/addons/x86/bins/COOLADDON.bin"

# Enter the xml path that describes the latest add-on available.  This file will be automatically created based on your
# input, but you will want to use the add-on's tag name followed by "_CURRENT.xml".
CURRENT_URL="http://www.cooldude.com/download/addons/x86/current/COOLADDON_CURRENT.xml"

# Enter a web page where a more detailed description of the add-on is available.
DETAIL_URL="http://www.cooldude.com/cooladdon"

# Enter a path where the icon image resides.  The icon should be 110x110 pixel dimension.
ICON_URL="http://www.cooldude.com/images/cooladdon.jpg"

# Enter the author of the add-on.  This can be a company name.
AUTHOR="Cool Dude, Inc."

# Enter the minimum RAIDiator version required by the add-on.
MIN_RAIDIATOR_VERSION="4.2.16"

# Enter (y/n) whether a reboot is required after add-on installation/update for the add-on to take effect.  Try your
# best not to require a reboot.
REBOOT_REQUIRED="n"

# Enter (y/n) whether Apache needs to be restarted after add-on installation/update for the add-on to take effect.  Try
# your best not to require an Apache restart.
RESTART_APACHE="n"
