# Edit this to suit your setup
# But if your server is systemd based you could
# consider to comment out all the lines and instead
# use unit drop-in files in /etc/systemd/system/lyrionmusicserver.service.d

# The variable LYRION_USER will only be picked up by SYSV systems.
# To change the user running lyrionmusicserver on a systemd server, please
# check /usr/share/ilyrionmusicserver/README.systemd
LYRION_USER="lyrionmusicserver"

# The following variables are picked up by both SYSV and
# systemd based servers
LYRION_HOME="/usr/libexec"
LYRION_CFG_DIR="/var/lib/lyrionmusicserver/prefs"
LYRION_LOG_DIR="/var/log/lyrionmusicserver"
LYRION_CACHE_DIR="/var/lib/lyrionmusicserver/cache"
LYRION_CHARSET="utf8"

# The variable LYRION_ARGS will only be picked up by SYSV based servers.
# For systemd based system use the LYRION_ADDITIONAL_ARGS here below.
LYRION_ARGS="--daemon --prefsdir=$LYRION_CFG_DIR --logdir=$LYRION_LOG_DIR --cachedir=$LYRION_CACHE_DIR --charset=$LYRION_CHARSET"

# The variable LYRION_ADDITIONAL_ARGS will only be picked up by
# systemd based servers. To use it uncomment the line here below and
# add any valid arguments you want between the quotation marks.
# Please note you can't use nested variables.

# LYRION_ADDITIONAL_ARGS=""

# Alternatively you could use a systemd unit drop in file to define
# LYRION_ADDITIONAL_ARGS, see /usr/share/lyrionmusicserver/README.systemd
# and the systemd.unit, systemd.service man pages. But in that case the above
# line must remain commented as this file takes precedence oce any unit file.
