# Edit this to suit your setup
# But if your server is systemd based you could
# consider to comment out all the lines and instead
# use unit drop-in files in /etc/systemd/system/squeezeboxserver.service.d

# The variable SQUEEZEBOX_USER will only be picked up by SYSV systems.
# To change the user running squeezeboxserver on a systemd server, please
# check /usr/share/squeezeboxserver/README.systemd
SQUEEZEBOX_USER="squeezeboxserver"

# The following variables are picked up by both SYSV and
# systemd based servers
SQUEEZEBOX_HOME="/usr/libexec"
SQUEEZEBOX_CFG_DIR="/var/lib/squeezeboxserver/prefs"
SQUEEZEBOX_LOG_DIR="/var/log/squeezeboxserver"
SQUEEZEBOX_CACHE_DIR="/var/lib/squeezeboxserver/cache"
SQUEEZEBOX_CHARSET="utf8"

# The variable SQUEEZEBOX_ARGS will only be picked up by SYSV based servers.
# For systemd based system use the SQUEEZEBOX_ADDITIONAL_ARGS here below.
SQUEEZEBOX_ARGS="--daemon --prefsdir=$SQUEEZEBOX_CFG_DIR --logdir=$SQUEEZEBOX_LOG_DIR --cachedir=$SQUEEZEBOX_CACHE_DIR --charset=$SQUEEZEBOX_CHARSET"

# The variable SQUEEZEBOX_ADDITIONAL_ARGS will only be picked up by
# systemd based servers. To use it uncomment the line here below and
# add any valid arguments you want between the quotation marks.
# Please note you can't use nested variables.

# SQUEEZEBOX_ADDITIONAL_ARGS=""

# Alternatively you could use a systemd unit drop in file to define
# SQUEEZEBOX_ADDITIONAL_ARGS, see /usr/share/squeezeboxserver/README.systemd
# and the systemd.unit, systemd.service man pages. But in that case the above
# line must remain commented as this file takes precedence oce any unit file.
