# Edit this to suit your setup
SQUEEZECENTER_USER="squeezecenter"
SQUEEZECENTER_HOME="/usr/libexec"
SQUEEZECENTER_CFG_DIR="/var/lib/squeezecenter/prefs"
SQUEEZECENTER_LOG_DIR="/var/log/squeezecenter"
SQUEEZECENTER_CACHE_DIR="/var/lib/squeezecenter/cache"
SQUEEZECENTER_CHARSET="utf8"
SQUEEZECENTER_ARGS="--daemon --prefsdir=$SQUEEZECENTER_CFG_DIR --logdir=$SQUEEZECENTER_LOG_DIR --cachedir=$SQUEEZECENTER_CACHE_DIR --charset=$SQUEEZECENTER_CHARSET"

