[Unit]
Description=Squeezeboxserver
After=network.target

[Service]

# These values can be overridden by means of a drop in file in  the
# directory /etc/systemd/system/squeezeboxserver.service.d
# Read man page for systemd.unit and systemd.service.
#
# Or they can be overriden in /etc/sysconfig/squeezeboxserver
# The first option is recommended.
Environment="SQUEEZEBOX_HOME=/usr/libexec"
Environment="SQUEEZEBOX_CFG_DIR=/var/lib/squeezeboxserver/prefs"
Environment="SQUEEZEBOX_LOG_DIR=/var/log/squeezeboxserver"
Environment="SQUEEZEBOX_CACHE_DIR=/var/lib/squeezeboxserver/cache"
Environment="SQUEEZEBOX_CHARSET=utf8"
Environment="SQUEEZEBOX_ADDITIONAL_ARGS="

# The content of this file will override any setting made with the Environment
# variables here above. It will also override any Environment variables set
# in /etc/systemd/system/logitechmediaserver.service.d/*.conf
EnvironmentFile=-/etc/sysconfig/squeezeboxserver

# Do not change this, it will most likely break the squeezeboxserver
# installation. The directory /usr/lib/perl5/vendor_perl is where the RPM
# package drops the Slim perl modules. Setting PERL5LIB to this location will
# make sure that the squeezebox server executable looks here before it scans the
# directories in the perl @INC array.
Environment="PERL5LIB=/usr/lib/perl5/vendor_perl"

#Type=simple
User=squeezeboxserver
Group=squeezeboxserver
ExecStart=/usr/libexec/squeezeboxserver --prefsdir $SQUEEZEBOX_CFG_DIR --logdir $SQUEEZEBOX_LOG_DIR --cachedir $SQUEEZEBOX_CACHE_DIR --charset $SQUEEZEBOX_CHARSET $SQUEEZEBOX_ADDITIONAL_ARGS

# If your server uses a TEMPFS for the /var/log file system, then you probably
# want to uncomment the two following lines, or even better, add them in a 
# drop-in file in /etc/systemd/system/logitechmediaserver.service.d/ if you
# want the change to survive the next upgrade of logitechmediaserver.
# Note: This setting may conflict with SQUEEZEBOX_LOG_DIR set here above. That 
# is why I think it is better to keep them commented by default.
#LogsDirectory=squeezeboxserver
#LogsDirectoryMode=0755

# We want LMS to handle SIGPIPE, as it can help terminate misbehaving
# transcoder pipelines.
IgnoreSIGPIPE=no

# Never send HUP, LMS uses this to re-initialise cache, etc. 
SendSIGHUP=no

[Install]
WantedBy=multi-user.target
