# Edit this to suit your setup
SQUEEZECENTER_USER="squeezecenter"
SQUEEZECENTER_HOME="/usr/sbin"
SQUEEZECENTER_CFG_DIR="/etc/squeezecenter"
SQUEEZECENTER_LOG_DIR="/var/log/squeezecenter"
SQUEEZECENTER_CACHE_DIR="/var/cache/squeezecenter"
SQUEEZECENTER_ARGS="--daemon --prefsdir=$SQUEEZECENTER_CFG_DIR --logdir=$SQUEEZECENTER_LOG_DIR --cachedir=$SQUEEZECENTER_CACHE_DIR"

