# Edit this to suit your setup
UEML_USER="uemusiclibrary"
UEML_HOME="/usr/libexec"
UEML_CFG_DIR="/var/lib/uemusiclibrary/prefs"
UEML_LOG_DIR="/var/log/uemusiclibrary"
UEML_CACHE_DIR="/var/lib/uemusiclibrary/cache"
UEML_CHARSET="utf8"
UEML_ARGS="--daemon --prefsdir=$UEML_CFG_DIR --logdir=$UEML_LOG_DIR --cachedir=$UEML_CACHE_DIR --charset=$UEML_CHARSET"

